.primitive
  cursor: pointer
  &_path
    cursor: default
    opacity: 0.5
    &.primitive
      &_active
        opacity: 1
  &_point
    fill: #000
    &.primitive
      &_active
        fill: green
  &_line
    stroke-width: 1
    stroke: #000
    &.primitive
      &_active
        stroke-width: 1.5
        stroke: #4e4e4e
