.primitive {
  cursor: pointer; }
  .primitive_point {
    fill: #000; }
    .primitive_point.primitive_active {
      fill: green; }
  .primitive_line {
    stroke-width: 1;
    stroke: #000; }
    .primitive_line.primitive_active {
      stroke-width: 1.5;
      stroke: #4e4e4e; }

/*# sourceMappingURL=style.css.map */
